body{
  margin: 0;
}

.loginWrapper{
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
}

.innerTextInputWrapper{
  height: 50%;
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customTextBox{
  margin-top: 30px;
}

.customButtom{
  margin-top: 40px;
}

.projektWrapper{
  height: 100vh;
  width: 100vw;
}

.projectOverviewHeader{
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.projectOverviewMain{
  height: 90%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectOverviewInnerWrapper{
  height: 80%;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
}

.projectOverviewHeaderInnerWrapper{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskWrapper{
  height: 100vh;
  width: 100vw;
}

.taskOverviewHeader{
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskOverviewMain{
  height: 90%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskOverviewInnerWrapper{
  height: 80%;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
}

.taskOverviewHeaderInnerWrapper{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}